# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Dataset folder
data/

# Logs
*.log

# Streamlit cache
.streamlit/
